@model StoreFrontLAB.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <br />
    <h2>@ViewBag.Title</h2>


    <div>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.UserName)
                <hr />
            </dd>
        </dl>
    </div>
    <h4>User Role:</h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user.</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


